li {
  font-size: 18px;
}

ul {
  font-size: 16px;
}

h3 {
  font-size: 30px;
  line-height: 40px;
}

.main_container {
  margin-left: 5%;
  margin-right: 2%;
}

.button_row {
  text-align: center;
}
.button_row:hover {
  background-color: white;
}

.rounded_table {
  border: 1px solid #ddd;
  border-collapse: separate;
  border-left: 0;
  border-radius: 4px;
  border-spacing: 0px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.rounded_table thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
  border-collapse: separate;
}

.rounded_table tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}
.rounded_table tr:hover {
  background-color: #ddd;
}
.rounded_table th {
  background-color: #effaf5;
  color: #00947e;
}
.rounded_table th,
td {
  padding: 8px;
  text-align: left;
  vertical-align: middle;
  border-left: 1px solid #ddd;
}
.rounded_table td {
  border-top: 1px solid #ddd;
}

thead:first-child tr:first-child th:first-child,
tbody:first-child tr:first-child td:first-child {
  border-radius: 4px 0 0 0;
}
thead:last-child tr:last-child th:first-child,
tbody:last-child tr:last-child td:first-child {
  border-radius: 0 0 0 4px;
}
